* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "RoobertTRIAL-Regualr", "RoobertTRIAL-Light" sans-serif;
}

.header {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -1px;
  text-transform: uppercase;
}

.code-btn {
  color: white;
  background-color: black;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 20px;
  border: 1px solid black;
  cursor: pointer;
}

/* HOME */

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  text-align: center;
  padding-top: 64px;
}

.headline {
  font-size: 128px;
  font-weight: 300;
  line-height: 120px;
  letter-spacing: -7px;
  align-items: center;
  width: 680px;
  height: 240px;
  top: 361px;
  left: 620px;
}

.nav-left,
.nav-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  font-weight: bold;
}

.nav-left {
  left: 80px;
}

.nav-right {
  right: 80px;
}

.nav-link:hover {
  text-decoration: underline;
  color: black;
}

.nav-link {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: #a0a4ab;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.nav-link::before {
  content: "";
  position: absolute;
  width: 402px;
  height: 402px;
  border: 2px dotted #a0a4ab;
  transform: rotate(45deg);
}

/** TEST PAGE **/

.test {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: transform 0.8s ease-in-out;
}

.test-title {
  font-size: 48px;
  text-transform: uppercase;
}
